<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
</head>

<body>
    <h1>Donate</h1>
    <form action="/donate" method="post">
        <select name="value">
            <option value="blood">blood</option>
            <option value="money">money</option>
            <option value="food">food</option>
        </select>
        <label for="des">Description</label>
        <input type="text" name="additionalInfo" id="des">
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <button type="submit">Submit</button>
        <a href="/home">Home</a>            
    </form>







</body>

</html>