<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <%for(items of allItems){%>
        <%=items.donate%><br>
            description: <%=items.des%>
                <%}%>
</body>
</html>