<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>Home</h1>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <a href="donate">Donate</a>
    <a href="receive">Receive</a>
    <a href="profile/650e7514fa35dd913ea0b4b5">Profile</a>
    <a href="logout">Logout</a>
</body>

</html>