<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">UserName</label>
        <input type="text" placeholder="Username" id="username" name="username">
        <label for="passport">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">
        <button>Login</button>
    </form>
    <a href="/register">Register</a><br>
</body>

</html>