<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive</title>
</head>

<body>
    <h1>Receive</h1>
    <%for(items of allItems){%>
        <%if(!items.status){%>
            <%=items.donate%><br>
                description: <%=items.des%>
                    <form action="/<%=items._id%>/Status" method="POST">
                        <label for="Status">Status</label>
                        <!-- <input type="radio" id="accept" name="accept"> -->
                        <button>accept</button>
                    </form>
                    <%}%>
                        <%}%>

                        <a href="/home">Home</a>            
</body>

</html>