<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>register</h1>
    <form action="/register" method="POST">
        <label for="email">Email</label>
        <input type="email" placeholder="abc@gmail.com" id="email" name="email">
        <label for="username">UserName</label>
        <input type="text" placeholder="Username" id="username" name="username">
        <label for="contact">Phone No:</label>
        <input type="integer" placeholder="Contact" id="contact" name="contact">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">
        <button>Register</button>
    </form>
    <a href="/home">Back</a><br>
</body>

</html>